#dondo {
    width: 12.3%;
    background-color: lightgray;
}

body {
    border: 2px black;
}

#borra {
    margin-left: 67%;
}

#siete {
    margin-left: 2px;
}

#cuatro {
    margin-left: 2px;
}

#uno {
    margin-left: 2px;
}

#nada {
    margin-left: 2px;
}